/* css */
html {
  font-size: 16px;
  cursor: default;
  scroll-behavior: smooth;
}

.primary-background-color {
  background-color: #5559a8;
}

#header {
  font-family: "Saira Stencil One", cursive;
  color: white;
  margin-top: 6.5625vw;
  font-size: 4.5vw;
}

.secondary-background-color {
  background-color: #8686da;
}

.nav-bar-color {
  background-color: #223078;
}

.task-button {
  background-color: #55a8a4;
  height: 4.5rem;
  border-radius: 30px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.task-button > p {
  padding-top: 10px;
  padding: 10px;
  font-size: 2rem;
}

.nav .task-button {
  cursor: pointer;
}

.nav .task-button:hover{
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

p, a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
}

.center-text {
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width:1200px) {
  .task-button {
    background-color: #55a8a4;
    height: 80px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 20px;
  }
}

#about-box {
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #8686da;
}

#about-title {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 3rem;
}

.page-break {
  background-color: #223078;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
}

.title-box {
  /* height: 1; */
  background-color: #8686da;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.task-title {
  font-size: 2.5rem;
}

.data-box {
  background-color: #223078;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.data-explanation-box {
  background-color: #8686da;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.data-explanation-box > p {
  font-size: 1.25rem;
  margin-left: 40px;
}

.data-box > p {
  font-size: 1.25rem;
  margin-left: 40px;
}

a {
  text-decoration: none;
}